/** @format */

@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}
