.filee {
    /* align-items: stretch; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fileee {
    /* align-items: stretch; */
    display: flex;
    justify-content: center;
    align-items: center;
  }