.checkbox {
  margin: 0.4rem;
}

.box filter{
  text-align: center;
  width: 12rem;
}

.dropdown button {
  width: 8rem;
  justify-content: flex-start;
}

.clear {
  margin-top: 0.5rem;
}

.clear a {
  font-size: smaller;
  text-decoration-line: underline;
}
