.map-container {
  width: 100%;
  height: 100vh;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.places-container {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.combobox-option {
  position: relative;
  background: white;
  padding-bottom: 2px;
  cursor: pointer;
}

.combobox-option:hover {
  background: lightgrey;
}