/** @format */
.menu-list {
  line-height: 1.25;
}

.icon.has-update-mark {
  position: relative;
}

.notification.is-yellow {
  color: black !important;
  background-color: #ffff40;
}

// .menu-list a {
//   border-radius: 0;
//   //   color: #727c8f;
//   display: block;
//   padding: 0.5rem 0;
// }
