/** @format */
.menu-list {
  line-height: 1.25;
}

.icon.has-update-mark {
  position: relative;
}

.notification.is-yellow {
  color: black !important;
  background-color: #ffff40;
}

// .menu-list a {
//   border-radius: 0;
//   //   color: #727c8f;
//   display: block;
//   padding: 0.5rem 0;
// }

section.hero.is-hero-bar {
  background-color: #fff;
  border-bottom: 1px solid rgba(24, 28, 33, 0.06);
}

.is-user-avatar img {
  margin: 0 auto;
  border-radius: 9999px;
}

div .image {
  img {
    display: block;
    height: auto;
    width: 30%;
  }
}
