
.border-bottom{
    border-bottom: 1px solid black;
    width: 100%;
}

.border-rigth{
  border-right: 1px solid rgba(12, 12, 12, 0.425);
  width: 100%;
}

.filee {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.fileee {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
}