.popup-overlay {
  background: rgba(0, 0, 0.5, 0.5);
}

.tfoot {
  display: flex;
  align-items: flex-start;
}

.width {
  min-width: 70rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.widtht{
  
  min-width: 60rem;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content{
  font-size: 10px;
  width: 45rem;
}



.boxx {
  display: flex;
  justify-content: center;
  align-items: fl;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  padding: 1.25rem;
}

.fileeee {
  /* align-items: stretch; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bt {
  border-bottom: 1px rgba(0, 0, 0, 0.11) solid;
}

.bb {
  border-right: 1px rgba(0, 0, 0, 0.11) solid;
}
